nav.navbar
  a(href="/") Home
  br
  a(href="/students") Students Page
  br
  a(href="/ongoingcourses") Ongoing Courses Page
  br
  a(href="/student/:id") Student by ID
  br
  a(href="/filter-ongoingcourses") Filter Courses
  br
  a(href="/filter-students") Filter Students